/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  .cta-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
  }

/* Estilos para el botón de "Volver arriba" */
#back-to-top, #top {
  cursor: default;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.back-to-top:before {
  content: "^";
}

.back-to-top:hover {
  background-color: #45a049;
}
  

  
  main {
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  #about .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  #about .skills div {
    margin-bottom: 15px;
  }
  
  .progress {
    height: 20px;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
  }
  
  .progress:before {
    content: attr(data-label) ' ' attr(data-level);
    display: block;
    height: 100%;
    width: 0;
    background-color: #ffcc00;
    text-align: center;
    line-height: 20px;
    color: #333;
    animation: load 2s forwards;
  }
  
  @keyframes load {
    to {width: var(--skill-level);}
  }
  
  /* Estilos formulario contacto */
  .form-group {
    margin-bottom: 20px;
   
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='tel'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .newsletter-group {
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
    margin-right: 5px;
}
  
  .radio-group {
    display: flex;
    align-items: center;
  }
  
  .radio-group input {
    margin-right: 5px;
  }


button[type='submit'],
button[type='reset'] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit'] {
  background-color: #4CAF50;
  color: white;
}

button[type='reset'] {
  background-color: #f44336;
  color: white;
  margin-left: 10px; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal:target {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  cursor: pointer;
}


 

 /* Estilos del icono de hamburguesa */
#menu-icon {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#menu-icon span {
  box-sizing: border-box;
  display: block;
  background-color: #fff; 
  height: 4px;
  width: 30px;
  margin: 6px 0;
  border-radius: 4px;
  transition: 0.3s;
}

label[for="menu-icon"] {
  color: #fff; 
}

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  margin-top: 10px;
}

/* Estilos por defecto para pantallas grandes */
nav {
  display: block;
}

#menu-icon {
  display: none;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }
}

/* Estilos para cuando el checkbox está marcado */
#menu-icon:checked ~ nav {
  display: block;
}

 /* Centrar section info */
 section {
  max-width: 800px; 
  margin: 0 auto;  
  padding: 20px;  
  padding-top: 50px;
  margin-top: -50px;
}

/* Cambia el color del icono al hacer clic */
input[type="checkbox"]:checked ~ #menu-icon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

input[type="checkbox"]:checked ~ #menu-icon span:nth-child(2) {
  opacity: 0;
}

input[type="checkbox"]:checked ~ #menu-icon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Oculta el checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

/* Muestra el menú cuando el checkbox está marcado */
input[type="checkbox"]:checked ~ nav ul {
  display: block;
}

/* Medios para dispositivos móviles */
@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  nav ul {
    display: none; 
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }

  nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav a {
    color: #fff;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #ffcc00;
  }

  input[type="checkbox"]:checked ~ nav ul {
    display: block; 
  }

  input[type="checkbox"]:checked ~ #menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  input[type="checkbox"]:checked ~ #menu-icon span:nth-child(2) {
    opacity: 0;
  }

  input[type="checkbox"]:checked ~ #menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}